body {
    color: #1D2326;
}

h1,h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
}

h1 {
    font-size: 44px;
    padding-bottom: 30px;
    position: absolute;
    bottom: 0;
}

h2 {
    font-size: 33px;
    padding-bottom: 30px;
}

p {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    text-align: justify;
}

.row {
    margin-left: 15%;
    margin-right: 15%;
}

section {
    padding-top: 90px;
}

section#Title {
    height: 50vh;
    padding-top: 0;
}

section#Computational-Geometry {
    padding-top: 170px;
}

section#Sources {
    padding-bottom: 170px;
}

#title {
    height: 50vh;
}

#author {
    font-style: italic;
}

ul {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    list-style-type: none;
}

li {
    margin-left: -40px;
    padding-bottom: 25px;
}


a {
    color: #5990D9;
}

a:hover {
    color: #BF8360;
    text-decoration: none;
}

/* Color Theme Swatches in Hex */
.Blue-Brown1 { color: #2646A6; }
.Blue-Brown2 { color: #456EBF; }
.Blue-Brown3 { color: #5990D9; }
.Blue-Brown4 { color: #D9BF71; }
.Blue-Brown5 { color: #BF8360; }
