body {
    background-color: #f5f5f5;
}

#vis-title {
    padding-top: 20px;
}

.row {
    margin-left: 5%;
    margin-right: 5%;
}

#visualization {
    background-color: white;
    height: 80vh;
    border-radius: 5px;
}

#buttons {
    padding-top: 5px;
}

button {
    background-color: #1D2326;
    color: white;
    border-radius: 5px;
    border: none;
    width: 150px;
    height: 85px;
}

button:hover {
    background-color: #bf8360;
}

button:focus {
    outline: 0;
}

button.active {
    background-color: #5990D9;
}

h2 {
    padding-top: 20px;
}

.label {
    font-family: 'Source Code Pro', monospace;
    font-size: 18px;
    color: #1D2326;
}